@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.home-main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgA {
  width: 170px;
  margin-right: 250px;
  margin-bottom: 50px;
  transform: rotate(15deg);
}
.imgB {
  width: 100px;
  margin-left: 150px;
}
.imgC {
  width: 80px;
  margin-right: 150px;
}
.imgD {
  width: 150px;
  margin-left: 200px;
  transform: rotate(205deg);
}

.back-layer {
  background-color: #080516;
  position: absolute;
  z-index: -1;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-layer {
  color: aliceblue;
  min-width: 300px;
  background-color: #ffffff04; /* Adjust the alpha (transparency) as needed */
  backdrop-filter: blur(15px); /* Adjust the blur amount as needed */
  border-radius: 10px;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.13);
}
.log-title {
  text-align: center;
  font-size: 1.8em;
  font-weight: 600;
}
.log-in-form label {
  display: block;
  width: 260px;
  font-weight: 500;
  color: #d6d8de;
}
.log-in-form input {
  display: block;
  width: 260px;
  border: none;
  outline: none;
  background-color: #ffffff16;
  color: #d6d8de;
  font-size: 0.9em;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 5px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
input::placeholder,
textarea::placeholder {
  color: #d0d0d18e;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500; /* Change this color to your desired placeholder color */
}
.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 380px;
}

.log-in-btn {
  border: none;
  outline: none;
  width: 280px;
  background-color: white;
  color: black;
  padding: 15px 0px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}
.btn-div {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.social-btn {
  border: none;
  outline: none;
  background-color: #ffffff31;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: #e9ecf5;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.social-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.welcome-layer {
  height: 418px;
  color: aliceblue;
  min-width: 300px;
  background-color: #ffffff04; /* Adjust the alpha (transparency) as needed */
  backdrop-filter: blur(15px); /* Adjust the blur amount as needed */
  border-radius: 10px;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.13);
  position: relative;
  overflow: hidden;
}

.img-brown {
  width: 250px;
  position: absolute;
  bottom: 20px;
  z-index: 3;
  left: -20px;
}
.img-tree {
  width: 300px;
  position: absolute;
  bottom: 40px;
  right: 0;
  z-index: 2;
}
.img-balls {
  width: 180px;
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: 1;
}
/* CSS for mobile devices */
@media only screen and (max-width: 767px) {
  .home-main {
    width: 100dvw;
    height: 100dvh;
  }
  .imgA {
    width: 160px;
    margin-right: 180px;
    margin-bottom: 130px;
    transform: rotate(15deg);
  }
  .imgB {
    width: 50px;
    margin-left: 150px;
  }
  .imgC {
    width: 80px;
    margin-right: 150px;
  }
  .imgD {
    width: 100px;
    margin-left: 200px;
    transform: rotate(205deg);
  }
  .back-layer {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .log-in-layer {
    width: 270px;
  }
}
